li a {
    color: green;
}

body {
    background: lightpink url("images/django.jpg") no-repeat;
    background-size: cover;
}

footer {
    width: 100%;
    bottom: 0;
    background-color: rgba(221, 255, 221, 0.397);
}
