{% extends "polls/base.html" %}
{% load static %}
{% block content %}
<!-- this don't do anything rn lol -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<!--<link href="https://fonts.googleapis.com/css?family=Nanum+Myeongjo:700&display=swap" rel="stylesheet">-->
<link rel="stylesheet"  type="text/css" href="{% static 'styling/style.css' %}">

<div class="container">
  <div class="jumbotron text-black rounded" style="background-color: rgba(255, 192, 203, 0.781); padding-top: 20px; padding-bottom: 20px">
      <h1 class="display-4 font-italic" style="padding-left: 15px;">F(Never)AQ</h1>
      <hr>
      <div class="grid-container" style="display: grid; grid-template-columns: 50% 50%; grid-gap: 26%">
        <div>
          <h5 style="padding-left: 15px;">What is the Purpose of This Site?</h5>
          <p class="lead my-3" style="padding-left: 15px;">This site is part of an extra credit project for CS 4102 at the University of Virginia.</p>
          <p style="padding-left: 15px;">In creating this site, I aimed to apply what was learned in class (or online-class) this semester to real-life instances, so that it will help me to better recall and retain the material. </p> 
        </div>
        <div>
          <img src="../../static/styling/images/sammie.jpeg" alt="sammie" style="width: 45%; height: 45%;">
        </div>
      </div>
  </div>
</div>

<main role="main" class="container">
  <div class="row">
    <div class="col-md-8 blog-main">
      <div class="blog-post">
        <div class="p-4 mb-3 bg-light rounded">
          <p>The 'Algorithms in the World' tab welcomes you! Along with the navbar at the top, the page will allow you to navigate through this site.</p>
          <p>The 'Topics' page explains the main topics that I chose to display, given that it is difficult to explain all the topics covered this semester.</p>
          <p>The 'AboutMe' page, which you're already on, is where I've decided to introduce myself. See the 'About Me' box at the right!</p>
          <p>The 'Examples' page is where I have examples from my daily life where I apply topics from Algorithms, or any interesting ties I've made.</p>
          <p class="blog-post-meta">- Sammie (Ella)</p>
        </div>
      </div><!-- /.blog-post -->

    </div><!-- /.blog-main -->

    <aside class="col-md-4 blog-sidebar">
      <div class="p-4 mb-3 bg-light rounded">
        <h4 class="font-italic">About Me</h4>
        <p class="mb-0">I am a third-year student at the University of Virginia in the BACS program, studying Computer Science and Linguistics.</p>
      </div>
    </aside><!-- /.blog-sidebar -->

  </div><!-- /.row -->
</main><!-- /.container -->

{% endblock content %}