{% extends "polls/base.html" %}
{% load static %}
{% block content %}
<!-- this don't do anything rn lol -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link rel="stylesheet"  type="text/css" href="{% static 'polls/style.css' %}">

<nav class="navbar navbar-expand-lg navbar-light" style="background-color: rgb(221, 255, 221)">
    <a class="navbar-brand" href="/homepage/">Algorithms in the World</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/topics/">Topics<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/aboutme/">About Me</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/examples/">Examples</a>
        </li>
      </ul>
    </div>
</nav>
<br>

<div class="container">
  <div class="jumbotron p-4 p-md-5 text-white rounded bg-dark">
    <div class="col-md-6 px-0">
      <h1 class="display-4 font-italic">Title of a longer featured blog post</h1>
      <p class="lead my-3">Multiple lines of text that form the lede, informing new readers quickly and efficiently about what’s most interesting in this post’s contents.</p>
      <p class="lead mb-0"><a href="#" class="text-white font-weight-bold">Continue reading...</a></p>
    </div>
  </div>
</div>

<main role="main" class="container">
  <div class="row">
    <div class="col-md-8 blog-main">
      <div class="blog-post">
        <div class="p-4 mb-3 bg-light rounded">
          <h2 class="blog-post-title">F(Never)AQ</h2>
          <p class="blog-post-meta">From Sammie:</p>

          <p>This site is part of an extra credit project for CS 4102 at the University of Virginia.</p>
          <hr>
          <p>The 'Algorithms in the World' tab welcomes you! Along with the navbar at the top, the page will allow you to navigate through this site.</p>
          <p>The 'AboutMe' page, which you're already on, is where I've decided to introduce myself. See the 'About Me' box at the right!</p>
          <p>The 'Examples' page is where I have examples from my daily life where I apply topics from Algorithms, or any interesting ties I've made.</p>
        </div>
      </div><!-- /.blog-post -->

    </div><!-- /.blog-main -->

    <aside class="col-md-4 blog-sidebar">
      <div class="p-4 mb-3 bg-light rounded">
        <h4 class="font-italic">About Me</h4>
        <p class="mb-0">I am a third-year student at the University of Virginia in the BACS program, studying Computer Science and Linguistics.</p>
      </div>
    </aside><!-- /.blog-sidebar -->

  </div><!-- /.row -->
</main><!-- /.container -->

<div class="jumbotron p-2 p-md-2 text-white rounded bg-dark" style="text-align: center">
  <footer class="blog-footer">
    Copyright ©2020 Ella (Sammie) Chung 
  </footer>
</div>



{% endblock content %}