{% extends "polls/base.html" %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link rel="stylesheet"  type="text/css" href="{% static 'styling/examples.css' %}">

<h3>Connecting the Dots</h3>
<p>On this page, I made connections of a few topics that were covered this semester to my own experiences. <br>
It was very interesting to find the connections between my every-day life to the topics that were delved into in the course!</p>
<hr class="featurette-divider" style="margin-bottom: 5%">
<div class="row featurette">
  <div class="col-md-7">
    <h2 class="featurette-heading" style="margin-top: 3rem; margin-bottom: 2rem">Divide and Conquer <span class="text-muted"> - In Dancing!</span></h2>
    <p class="lead">Though this is not direclty related to computer science applications, one of my hobbies is to dance. When I am learning a new choreography, I often
      split the sections by 15 second increments, then I divide that by arm movements, then leg movements. From here, I divide further to pick up on the details, fine-tune the 
      details, then build back up, until the choreography is finished. This is much like the Divide and Conquer algorithm, as I am repeatedly dividing the choreography in half, 
      until the 'base case' or 15 seconds is reached (or less, depending on the difficulty), and the work per level is usually the same, and the overall work is in the division 
      of the full sequence. 
    </p>
  </div>
  <div class="col-md-5">
    <div>
      <img src="../../static/styling/images/dance.jpeg" alt="sammie" style="width: 73%; height: 73%; border-radius: 50%; margin-left: 20%">
    </div>
  </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
  <div class="col-md-7 order-md-2">
    <h2 class="featurette-heading" style="margin-top: 3rem; margin-bottom: 2rem">Greedy Algorithm/Dynamic Programming<span class="text-muted"> - In Sports!</span></h2>
    <p class="lead">Another hobby of mine is to indoor-rock climb. When I am met with a challenging problem, I first run through the sequence in my head, then I try out the 
      route by how I first read it. If I'm unable to get it in one go, then I look at the crux, and I consider the options that I have, which is similar to dynamic programming. 
      I try out that particular crux, and if there is one that I feel comfortable with, then I 'save that in memory', and do not consider the other options. The greedy choice my
      climbing algorithm makes is to look at the optimal climbing technique for that crux, and ignore the other possible techniques. Sometimes, you have to be as cost-effective
      even in climbing!
    </p>
  </div>
  <div class="col-md-5 order-md-1">
    <div>
      <img src="../../static/styling/images/bouldering.jpeg" alt="sammie" style="width: 73%; height: 73%; border-radius: 50%; margin-right: 20%">
    </div>
  </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
  <div class="col-md-7">
    <h2 class="featurette-heading" style="margin-top: 3rem; margin-bottom: 2rem">Closest Pair of Points.<span class="text-muted"> - In Traveling!</span></h2>
    <p class="lead">When traveling, I often take into account the timezone difference, cost and time consumption of moving between locations, and the energy I will have.
      Because of this, the itinerary I plan out aims to maximize these limitations. In order to do so, I first write out a list of the locations I want to go, much like 
      the points in space. Then, I calculate the distance between each of the 'points,' until I find the locations that are the closest to each other, and expand out.
      In doing so, I remove some items from my itinerary as they are way too far, much like disregarding the points that are more than delta away for the Closest Pair of Points!
    </p>
  </div>
  <div class="col-md-5">
    <div>
      <img src="../../static/styling/images/travel.jpeg" alt="sammie" style="width: 73%; height: 73%; border-radius: 50%; margin-left: 20%">
    </div>
  </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
  <div class="col-md-7 order-md-2">
    <h2 class="featurette-heading" style="margin-top: 3rem; margin-bottom: 2rem">Seam Carving<span class="text-muted"> - In Sewing!</span></h2>
    <p class="lead">For my junior year prom in high school, I ordered a dress that needed to be tailored as there was a lot of extra fabric. Given that I did not 
      have a dress form, I marked the places that needed to be reduced, but still retained the best shape that it could. As a result, I retained the design of the
      dress that I wanted, and cut away the parts that were extraneous. Seam carving is removing the pixels that are lowest in energy, but still keeping the pixels
      with the highest energy. In this example, the lowest energy are the parts that were the extraneous fabric, and the highest energy pixels are the parts of the 
      fabric that needed to remain in order for the dress to remain a certain shape. 
    </p>
  </div>
  <div class="col-md-5 order-md-1">
    <div>
      <img src="../../static/styling/images/seam.jpeg" alt="sammie" style="width: 73%; height: 73%; border-radius: 50%; margin-right: 20%">
    </div>
  </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
  <div class="col-md-7">
    <h2 class="featurette-heading" style="margin-top: 3rem; margin-bottom: 2rem">Reduction<span class="text-muted"> - In Langugage Learning!</span></h2>
    <p class="lead">During this quarantine time, I decided to improve my Spanish, and also learn a new language. From the potential candidates (Italian, French, German, Japanese, etc.) 
      I first picked German to try. However, a few days in, I realized that there were items in the German phonetic inventory that were not present in the Korean, English, 
      or Spanish inventory! As a result, it was very difficult to practice German with the fluency I wanted (as they say, practice makes permanent, and I did not want my German to permanently
      have my practiced poor pronunication). In addition, given that I am also a linguistics major, I thought which language of the potential candidates had the most similar phonetic inventory
      as one of the languages I already knew. This reduced the candidates to Italian and Japanese. From here, I reduced even further to choose Japanese, as the phonetic inventory 
      is similar to Korean, as Italian had tones that also were embedded in verbal practice. What I did here was to take a problem that I knew (Korean), and knowing how hard this was, 
      I reduced it to a problem that is just as hard, if not harder (Japanese has writing that is very different than Korean), but phoentically, it was more approachable. As such, though not
      exactly the traditional reduction in algorithms, as I expand my vocabulary in the Japanese Kanji (adaptation of the Chinese characters), I would also be able to read some forms of Korean 
      that were used in traditional/historical Korean as well!
    </p>
  </div>
  <div class="col-md-5">
    <div>
      <img src="../../static/styling/images/language.jpeg" alt="sammie" style="width: 73%; height: 73%; border-radius: 50%; margin-left: 20%; margin-top: 20%">
    </div>
  </div>
</div>

<hr class="featurette-divider">

<!-- /END THE FEATURETTES -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>


{% endblock content %}