{% extends "polls/base.html" %}
{% load static %}
{% block content %}
<!-- this don't do anything rn lol -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link rel="stylesheet"  type="text/css" href="{% static 'styling/style.css' %}">
<link rel="stylesheet"  type="text/css" href="{% static 'styling/homepage.css' %}">

<main role="main">
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100" src="../../static/styling/images/path.jpeg" alt="First slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="../../static/styling/images/reduce.jpeg" alt="Second slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="../../static/styling/images/dp.jpeg" alt="Third slide">
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

  <!-- Marketing messaging and featurettes
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->

  <div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-lg-4">
        <h2>FAQ</h2>
        <p>Wondering what this site is for? Curious who invested the time to create this site? Unsure how to explore the site? Need a description of each tab? 
          What is the goal this website was created to achieve? Click the button below to find out!
        </p>
        <p><a class="btn btn-secondary" href="/aboutme/" role="button">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <h2>Topics from Class</h2>
        <p>Surely, there must be some itinerary that guided me through the semester? Want to know what each of the topics 
          are about? The button below will take you to an overview of the topics covered this semester - Click below to find out!
        </p>
        <p><a class="btn btn-secondary" href="/topics" role="button">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <h2>Personal Examples</h2>
        <p>All these lesson materials help to expand my knowledge of Algorithms surely, but how can I apply them to my life? If the newly learned lessons are not 
          put into practice, they are for sure to become stale - click below to see how I made connections!
        </p>
        <p><a class="btn btn-secondary" href="/examples" role="button">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
  </div><!-- /.container -->


  <!-- FOOTER 
  <footer class="container">
    <p class="float-right"><a href="#">Back to top</a></p>
    <p>&copy; 2017 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
  </footer>
  -->

</main>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>

{% endblock content %}


