{% extends "polls/base.html" %}
{% load static %}
{% block content %}
<!-- this don't do anything rn lol -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link rel="stylesheet"  type="text/css" href="{% static 'polls/topics.css' %}">


<!-- START THE FEATURETTES -->

<main role="main">

  <section class="text-center">
    <div class="container">
      <h1 class="jumbotron-heading">Topics from this Semester</h1>
      <p class="lead text-muted">Key Topics Covered This Semester - A General Overview</p>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <div class="card-body">
              <p class="card-text">Divide and Conquer</p>
              <div class="d-flex justify-content-between align-items-center">
                <small class="text-muted">Divide and Conquer is true to its name - recursively dividing the problem into sub problems, then working at them and building back up.
                </small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <div class="card-body">
              <p class="card-text">Recurrence Solving Techniques</p>
              <div class="d-flex justify-content-between align-items-center">
                <small class="text-muted">This includes the Tree method (visualizing a tree and dividing to look at the overall picture); Guess and Check 
                  (using a mathematical guess, and checking using induction); "Cookbook"/Master Theorem (recurses on smaller problems, then generalizing to a form);
                  Substitution (Changing the structure of the question, then returning to the original form and substituting)
                </small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <div class="card-body">
              <p class="card-text">Closest Pair of Points</p>
              <div class="d-flex justify-content-between align-items-center">
                <small class="text-muted">Closest Pair of Points was, when given a number of points in a space, finding the pair of points that 
                  are the closest to each other, but using the smallest distance, delta, to calculate and examine the runway of 2delta. </small>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <div class="card-body">
              <p class="card-text">Strassen's Algorithm</p>
              <div class="d-flex justify-content-between align-items-center">
                <small class="text-muted">The idea behind Strassen's Algorithm is to multiply n by n matrices, such that it breaks down bigger matrices, increases the number of small subproblems, then builds back up. It is a fast algorithm for large matrices.</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <div class="card-body">
              <p class="card-text">Sorting Algorithms</p>
              <div class="d-flex justify-content-between align-items-center">
                <small class="text-muted">
                  1. QuickSort - picks a pivot, then recursively sort each of the list to its 'left' and 'right'
                  <br>
                  2. QuickSelect - uses index i; picks a pivot and divides accordingly, then recursively operates on the divided lists using the index i
                  <br>
                  3. Randomized QuickSort - Randomized Quicksort takes quicksort, but chooses a random pivot. In doing so, a better runtime is sometimes achieved.
                  <br>
                  4. MSCS - Maximum Sum Continuous Subarray; The sum of the values of the elements in the array is maximal. 
                  <br> 

                  There are many more sorting techniques but for the sake of available real-estate on here, I've limited it to a few.
                </small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <div class="card-body">
              <p class="card-text">Dynamic Programming</p>
              <div class="d-flex justify-content-between align-items-center">
                <small class="text-muted">Dynamic Programming is when the optimal solution of the overall problem is solved from the optimal solution of the smaller problem. 
                  There are two ways - top down, or bottom up. 
                </small>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <div class="card-body">
              <p class="card-text">Matrix Chain Multiplication</p>
              <div class="d-flex justify-content-between align-items-center">
                <small class="text-muted">Ties under Dynamic Programming, but it aims to solve the optimal/most efficient way to multiply the matrices.</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <div class="card-body">
              <p class="card-text">Seam Carving</p>
              <div class="d-flex justify-content-between align-items-center">
                <small class="text-muted">Seam carving aims to scale the image, such that images with similar pixels are removed, around perhaps a focal object in an image.
                  The pixels that are removed can be thought of as having "lowest energy", or least variance within that pixel.
                </small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <div class="card-body">
              <p class="card-text">Longest Common Subsequence</p>
              <div class="d-flex justify-content-between align-items-center">
                <small class="text-muted">Just like the name, the longest common subsequence looks for the longest subsequence present, such that it 
                  finds the ones that fit the set criteria, and is the longest sequence of a given problem. 
                </small>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <div class="card-body">
              <p class="card-text">Greedy Algorithms</p>
              <div class="d-flex justify-content-between align-items-center">
                <small class="text-muted">Greedy Algorithm looks at one solution, and solely makes the decision to follow that solution. It's not always the 
                  most optimal solution, which is why greedy algorithm may not be used all the time. However, when an algorithm chooses to follow one sub route of 
                  an algorithm and ignores any other, that makes the algorithm greedy. </small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <div class="card-body">
              <p class="card-text">Huffman Coding</p>
              <div class="d-flex justify-content-between align-items-center">
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <div class="card-body">
              <p class="card-text">Belady Cache Replacement</p>
              <div class="d-flex justify-content-between align-items-center">
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <div class="card-body">
              <p class="card-text">Graphs</p>
              <div class="d-flex justify-content-between align-items-center">
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <div class="card-body">
              <p class="card-text">Shortest Paths</p>
              <div class="d-flex justify-content-between align-items-center">
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <div class="card-body">
              <p class="card-text">Bellman-Ford and Floyd Warshall</p>
              <div class="d-flex justify-content-between align-items-center">
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <div class="card-body">
              <p class="card-text">Max FLow/Min Cut</p>
              <div class="d-flex justify-content-between align-items-center">
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <div class="card-body">
              <p class="card-text">Reduction</p>
              <div class="d-flex justify-content-between align-items-center">
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <div class="card-body">
              <p class="card-text">NP completeness</p>
              <div class="d-flex justify-content-between align-items-center">
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</main>

{% endblock content %}

