{% extends "polls/base.html" %}
{% load static %}
{% block content %}
<!-- this don't do anything rn lol -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link rel="stylesheet"  type="text/css" href="{% static 'polls/style.css' %}">

<nav class="navbar navbar-expand-lg navbar-light" style="background-color: rgb(221, 255, 221)">
  <a class="navbar-brand" href="/homepage/">Algorithms in the World</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/topics/">Topics<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/aboutme/">About Me</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="/examples/">Examples</a>
      </li>
    </ul>
  </div>
</nav>
<br>

{% endblock content %}

